@font-face {
  font-family: "Integral CF Extra";
  src: url("IntegralCF-ExtraBold.eot");
  src: local("Integral CF Extra Bold"), local("IntegralCF-ExtraBold"),
    url("IntegralCF-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-ExtraBold.woff2") format("woff2"),
    url("IntegralCF-ExtraBold.woff") format("woff"),
    url("IntegralCF-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Heavy Oblique";
  src: url("IntegralCF-HeavyOblique.eot");
  src: local("Integral CF Heavy Oblique"), local("IntegralCF-HeavyOblique"),
    url("IntegralCF-HeavyOblique.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-HeavyOblique.woff2") format("woff2"),
    url("IntegralCF-HeavyOblique.woff") format("woff"),
    url("IntegralCF-HeavyOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF";
  src: url("IntegralCF-Bold.eot");
  src: local("Integral CF Bold"), local("IntegralCF-Bold"),
    url("IntegralCF-Bold.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-Bold.woff2") format("woff2"),
    url("IntegralCF-Bold.woff") format("woff"),
    url("IntegralCF-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("IntegralCF-Regular.eot");
  src: local("Integral CF"), local("IntegralCF-Regular"),
    url("IntegralCF-Regular.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-Regular.woff2") format("woff2"),
    url("IntegralCF-Regular.woff") format("woff"),
    url("IntegralCF-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Oblique";
  src: url("IntegralCF-RegularOblique.eot");
  src: local("Integral CF Oblique"), local("IntegralCF-RegularOblique"),
    url("IntegralCF-RegularOblique.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-RegularOblique.woff2") format("woff2"),
    url("IntegralCF-RegularOblique.woff") format("woff"),
    url("IntegralCF-RegularOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Medium Oblique";
  src: url("IntegralCF-MediumOblique.eot");
  src: local("Integral CF Medium Oblique"), local("IntegralCF-MediumOblique"),
    url("IntegralCF-MediumOblique.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-MediumOblique.woff2") format("woff2"),
    url("IntegralCF-MediumOblique.woff") format("woff"),
    url("IntegralCF-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF";
  src: url("IntegralCF-Medium.eot");
  src: local("Integral CF Medium"), local("IntegralCF-Medium"),
    url("IntegralCF-Medium.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-Medium.woff2") format("woff2"),
    url("IntegralCF-Medium.woff") format("woff"),
    url("IntegralCF-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Bold Oblique";
  src: url("IntegralCF-BoldOblique.eot");
  src: local("Integral CF Bold Oblique"), local("IntegralCF-BoldOblique"),
    url("IntegralCF-BoldOblique.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-BoldOblique.woff2") format("woff2"),
    url("IntegralCF-BoldOblique.woff") format("woff"),
    url("IntegralCF-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Demi Bold Oblique";
  src: url("IntegralCF-DemiBoldOblique.eot");
  src: local("Integral CF Demi Bold Oblique"),
    local("IntegralCF-DemiBoldOblique"),
    url("IntegralCF-DemiBoldOblique.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-DemiBoldOblique.woff2") format("woff2"),
    url("IntegralCF-DemiBoldOblique.woff") format("woff"),
    url("IntegralCF-DemiBoldOblique.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Demi";
  src: url("IntegralCF-DemiBold.eot");
  src: local("Integral CF Demi Bold"), local("IntegralCF-DemiBold"),
    url("IntegralCF-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-DemiBold.woff2") format("woff2"),
    url("IntegralCF-DemiBold.woff") format("woff"),
    url("IntegralCF-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("IntegralCF-Heavy.eot");
  src: local("Integral CF Heavy"), local("IntegralCF-Heavy"),
    url("IntegralCF-Heavy.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-Heavy.woff2") format("woff2"),
    url("IntegralCF-Heavy.woff") format("woff"),
    url("IntegralCF-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Extra Bold Oblique";
  src: url("IntegralCF-ExtraBoldOblique.eot");
  src: local("Integral CF Extra Bold Oblique"),
    local("IntegralCF-ExtraBoldOblique"),
    url("IntegralCF-ExtraBoldOblique.eot?#iefix") format("embedded-opentype"),
    url("IntegralCF-ExtraBoldOblique.woff2") format("woff2"),
    url("IntegralCF-ExtraBoldOblique.woff") format("woff"),
    url("IntegralCF-ExtraBoldOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
