.discover {
  padding: 60px 0;
  /* background: rgba(145, 145, 147, 0.2); */
  backdrop-filter: blur(50px);
}
/* ======= heading  ======= */
.discover-heading {
  font-family: Integral CF;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 36px;
}

/*======== categories =========  */
.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  flex-wrap: wrap;
  gap: 12px;
}
.category-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.active-category-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background: #3d00b7;
  border-radius: 100px;
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.category-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background: rgba(220, 220, 220, 0.2);
  border-radius: 100px;
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  gap: 0 10px;
  transition: all 0.4s;
}
.category-btn:hover {
  background: #3d00b7;
  color: white;
}
.category-btn img {
  width: 24px;
  height: 16px;
}
.filter-btn {
  color: #371c87;
}

/* ========= discover card ======== */
.single-discover-card {
  padding: 10px;
  background: #ffffff;
  border: 1.09706px solid rgba(242, 242, 242, 0.5);
  border-radius: 13.1647px;
  margin-bottom: 30px;
  transition: all 0.4s;
}
.single-discover-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px #371c874f;
}
.card-content {
  padding: 0 10px;
}
.card-user-images img {
  width: 31px;
  height: 31px;
  margin-left: -12px;
  margin-top: -30px;
  transition: all 0.5s;
}
.card-user-images img:hover {
  transform: scale(1.3);
}
.card-user-images img:first-child {
  margin-left: 0;
}
.card-title {
  font-weight: bold;
  font-size: 19.7471px;
  line-height: 19px;
}
.card-crypto-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1.06366px dashed #f4f4f4;
}
.card-crypto {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-crypto img {
  width: 9px;
  height: 16px;
}
.card-crypto span {
  margin-top: 2px;
  font-weight: bold;
  font-size: 10.9706px;
  line-height: 14px;

  color: #00ac4f;
}
.card-number {
  margin: 0;
  font-weight: 500;
  font-size: 13.1647px;
  line-height: 19px;
  text-align: right;
  color: #838383;
}

/* ======== card footer ======= */
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-top: 10px;
  background-color: white;
}
.card-footer-time {
  padding: 4.38824px 10.9706px;
  border-radius: 109.706px;
  margin: 0;
  font-weight: bold;
  font-size: 10.9706px;
  line-height: 19px;
  /* text-align: right; */
  background: #f5f5f5;
  color: #5539a8;
}
.card-footer-btn {
  font-weight: 500;
  font-size: 15.3588px;
  line-height: 20px;
  color: #4f33a3;
  border: none;
  background-color: white;
  transition: all 0.4s;
}
.card-footer-btn:hover {
  transform: scale(1.1);
}

.more-nft-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  height: 66px;
  border: 2px solid #3d00b7;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #4f33a3;
  transition: all 0.4s;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
}
.more-nft-btn:hover {
  transform: scale(1.1);
  background-color: #4f33a3;
  color: white;
}

@media only screen and (max-width: 475px) {
  .discover-heading {
    font-size: 28px;
  }
}
